Laboratorio06/Lab06Consola/Connected Services/SR/servicio_lab6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://intec.edu.do/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://intec.edu.do/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intec.edu.do/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarVerdugoIndicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verdugo" type="tns:Verdugo" />
            <s:element minOccurs="0" maxOccurs="1" name="indicio" type="tns:Indicios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Verdugo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEvento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CantidadHijos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Vivo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Preso" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Indicios">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarVerdugoIndicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarVerdugoIndicioResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarVerdugoIndicioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarVerdugoIndicio" />
  </wsdl:message>
  <wsdl:message name="RegistrarVerdugoIndicioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarVerdugoIndicioResponse" />
  </wsdl:message>
  <wsdl:portType name="servicio_lab6Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarVerdugoIndicio">
      <wsdl:input message="tns:RegistrarVerdugoIndicioSoapIn" />
      <wsdl:output message="tns:RegistrarVerdugoIndicioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="servicio_lab6Soap" type="tns:servicio_lab6Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://intec.edu.do/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVerdugoIndicio">
      <soap:operation soapAction="http://intec.edu.do/RegistrarVerdugoIndicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="servicio_lab6Soap12" type="tns:servicio_lab6Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://intec.edu.do/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarVerdugoIndicio">
      <soap12:operation soapAction="http://intec.edu.do/RegistrarVerdugoIndicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="servicio_lab6">
    <wsdl:port name="servicio_lab6Soap" binding="tns:servicio_lab6Soap">
      <soap:address location="https://localhost:44351/servicio_lab6.asmx" />
    </wsdl:port>
    <wsdl:port name="servicio_lab6Soap12" binding="tns:servicio_lab6Soap12">
      <soap12:address location="https://localhost:44351/servicio_lab6.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>